In [26]:
import pandas as pd
import csv
import re

In [62]:
df = pd.read_csv(
  "/content/ANERCorp_CamelLab_train.txt",
  delim_whitespace=True,  # any whitespace separates data
  names=["word", "label"],
  quoting=csv.QUOTE_NONE  ,
  index_col=False,  # no index
)

In [63]:
df

             word  label
0       فرانكفورت  B-LOC
1              (د      O
2               ب      O
3              أ)      O
4            أعلن      O
...           ...    ...
125097         في      O
125098      مختلف      O
125099      أنحاء      O
125100     المصنع      O
125101          .      O

[125102 rows x 2 columns]

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125102 entries, 0 to 125101
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   word    125102 non-null  object
 1   label   125102 non-null  object
dtypes: object(2)
memory usage: 1.9+ MB

In [65]:
df.describe()

          word   label
count   125102  125102
unique   29252       9
top          .       O
freq      4149  111921

In [66]:
df.label.unique()

array(['B-LOC', 'O', 'B-ORG', 'I-ORG', 'B-PERS', 'I-PERS', 'I-LOC',
       'B-MISC', 'I-MISC'], dtype=object)

In [67]:
df["label"].value_counts()

O         111921
B-LOC       3776
B-PERS      2721
I-PERS      2205
B-ORG       1576
I-ORG       1115
B-MISC       888
I-LOC        525
I-MISC       375
Name: label, dtype: int64

In [68]:
df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
125097     True
125098     True
125099     True
125100    False
125101     True
Length: 125102, dtype: bool

In [69]:
df["word"] = df["word"].apply(lambda x : re.sub(r'[^\w\s]','',x))

In [70]:
df = df[df["word"]!=""]

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113327 entries, 0 to 125100
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   word    113327 non-null  object
 1   label   113327 non-null  object
dtypes: object(2)
memory usage: 2.6+ MB

In [72]:
df = df[df['word'].str.len()!=1]

In [73]:
df.shape

(112398, 2)

In [79]:
df.reset_index(inplace=True)

In [80]:
df.drop(["index"],axis=1)

             word  label
0       فرانكفورت  B-LOC
1            أعلن      O
2           اتحاد  B-ORG
3           صناعة  I-ORG
4        السيارات  I-ORG
...           ...    ...
112393      مثبتة      O
112394         في      O
112395      مختلف      O
112396      أنحاء      O
112397     المصنع      O

[112398 rows x 2 columns]